<head>
  <%= stylesheet_link_tag 'leaflet/leaflet.css' %>
  <%= stylesheet_link_tag 'leaflet_draw/leaflet.draw.css' %>
  <%= stylesheet_link_tag 'home/mainmenu.css' %>
  <%= javascript_include_tag 'leaflet/leaflet.js' %>
  <%= javascript_include_tag 'leaflet_draw/leaflet.draw.js' %>
  <%= javascript_include_tag 'home/mainmenu.js' %>
</head>



<body>
<h1>homedate</h1>
<div id="mapid"></div>
</body>
