<style>
  #mylist {
    margin: 2em 0 2em 3em;
  }
  /*scroll effect*/
  .navbar-trans {
    background-color: transparent;
    border: none;
    transition: top 1s ease;
  }

  /*double row*/
  .navbar-doublerow > .navbar {
    display: block;
    padding: 0 auto;
    margin: 0 auto;
    min-height: 25px;
  }
  .navbar-doublerow .nav {
    padding: 0 auto;
  }
  .navbar-doublerow .dividline {
    margin: 5px 100px;
    padding-top: 1px;
    background-color: inherit;
  }
  /*top nav*/
  .navbar-doublerow .navbar-top ul > li > a {
    padding: 10px auto;
    font-size: 12px;
  }
  /*down nav*/
  .navbar-doublerow .navbar-down .navbar-brand {
    padding: 0 auto;
    float: left;
    color: #fff;
    font-size: 32px;
  }
  .navbar-doublerow .navbar-down ul > li > a {
    font-size: 16px;
    color: #fff;
    transition: border-bottom 0.2s ease-in , transform 0.2s ease-in-out;
  }
  .navbar-doublerow .navbar-down ul > li > a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  .navbar-doublerow .navbar-down .dropdown {
    padding: 5px;
    color: #000;
  }
  .navbar-doublerow .navbar-down .dropdown ul > li > a,
  .navbar-doublerow .navbar-down .dropdown ul > li > a:hover {
    color: #000;
    border-bottom: none;
  }
  .navbar-doublerow.navbar-trans.afterscroll {}
  .navbar-doublerow.navbar-trans.afterscroll {
    top: -50px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .flex-item {}
  /*text*/
  .text-white,
  .text-white-hover:hover {
    color: #fff!important;
  }
  /*fontcolor*/
  .light-grey {
    color: #000!important;
    background-color: #E6E9ED!important;
  }
</style>

<script>
  // toggle class scroll
  $(window).scroll(function () {
    if ($(this).scrollTop() > 50) {
      $('.navbar-trans').addClass('afterscroll');
    } else {
      $('.navbar-trans').removeClass('afterscroll');
    }

  });
</script>
<head>
  <%= stylesheet_link_tag 'leaflet/leaflet.css' %>
  <%= stylesheet_link_tag 'leaflet_draw/leaflet.draw.css' %>
  <%= stylesheet_link_tag 'home/mainmenu.css' %>
  <%= javascript_include_tag 'leaflet/leaflet.js' %>
  <%= javascript_include_tag 'leaflet_draw/leaflet.draw.js' %>
  <%= javascript_include_tag 'home/mainmenu.js' %>
</head>

<div class="row">
  <div class="col-md-6">
    <div id="mapid"></div>
  </div>
  <div class="col-md-6">

    <script>
      $(document).ready(function () {
        $('.collapsible').collapsible();
      });
    </script>
    <ul id="mylist" class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Click on an area</div>
      </li>
    </ul>

  </div>
</div>
