<head>
  <!-- Favicons -->
  <link href="img/logoo.png" rel="icon">
  <link href="img/logoo.png" rel="apple-touch-icon">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'material.min.css' %>
  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'materialize.min.css' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag  'material.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'materialize.min.js' %>
  <!-- Libraries CSS Files -->
  <%= stylesheet_link_tag 'profile/profile.css' %>
  <%= javascript_include_tag 'profile/profile.js' %>
</head>

<header class="header-fixed" id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#hero">
        <img src="img/Logo.png" alt="Date your Home" title="" width="100" height="100"></img>
      </a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!--<h1><a href="#hero">Regna</a></h1>-->
    </div>

    <nav style="position: absolute;color:rgba(238,110,115,0);background-color:transparent;box-shadow:none" id="nav-menu-container">
      <ul id="amaury" class="right nav-menu">
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/map">window</a>
        </li>
        <li class="menu-active">
          <a href="/profile">Profile</a>
        </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->

<!--========================== Hero Section ============================-->
<section style="height:7.6em;" id="hero"></section>
<!-- #hero -->

<main id="main">

  <!--========================== Profile Section ============================-->
  <section id="profile">
    <div class="container">
      <div class="row about-container">

        <div class="col-lg-8 content order-lg-1 order-2">
          <h4 class="title">Complete your profile</h4>

          <p>
            <h4>Please answer these following questions :
            </h4>
          </p >
          <script>
            $(document).ready(function () {
              $('select').select();
            });
          </script>
          <form>
            <div class="input-field col s12">
            1. Select your price range :<br>
              <select name="price">
                <option value="Very cheap">Very cheap</option>
                <option value="Cheap">Cheap</option>
                <option value="Normal">Normal</option>
                <option value="Expensive">Expensive</option>
                <option value="Very expensive">Very expensive</option>
              </select>
          </div>
            <div class="input-field col s12">
            2.What kind of housing are you looking for?<br>
            <select name="housing">
              <option value="T1">T1</option>
              <option value="T2">T2</option>
              <option value="T3">T3</option>
              <option value="T4">T4</option>
              <option value="T5">T5</option>
              <option value="T6">T6</option>
              <option value="House">House</option>
            </select>
          </div>
            <div class="input-field col s12">
              3.What surface would you like ?<br>
              <select name="Surface">
                <option value="<10m²"><10m²</option>
  <option value=" [10m²;="[10m²;" 20m²]"="20m²]"">[10m²; 20m²]</option>
                <option value="[20m²; 50m²]">[20m²; 50m²]</option>
                <option value="[50m²; 100m²]">[50m²; 100m²]</option>
                <option value="[100m²; 150m²]">[100m²; 150m²]</option>
                <option value="[150m²; 200m²]">[150m²; 200m²]</option>
                <option value="[200m²; 300m²]">[200m²; 300m²]</option>
                <option value="[>300m²]">[>300m²]</option>
              </select>
            </div <p>
            <a href="/map" class="green btn waves-effect waves-light">Confirmer</a>
          </p>
        </form>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
    </div>

  </div>
</section>
<!-- #profile -->

<!--========================== window Section ============================-->

</main>

<!--========================== Footer ============================-->
<footer style="padding:20px;margin-top: 25px;" id="footer">
<div class="footer-top">
  <div class="container"></div>
</div>

<div class="container">
  <div class="copyright">
    &copy; Copyright
    <strong>Regna</strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. You can delete the links only if you purchased the pro version. Licensing information: https://bootstrapmade.com/license/ Purchase the pro version with working PHP/AJAX contact form:
    https://bootstrapmade.com/buy/?theme=Regna -->
    Bootstrap Templates by
    <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top">
<i class="fa fa-chevron-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="lib/easing/easing.min.js"></script>
<script src="lib/wow/wow.min.js"></script>

<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main2.js"></script>
